<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
    <link rel="stylesheet" href ="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #000;">
          <div class="container-fluid">
            <a class="navbar-brand" href="#" style="font-size: 30px; font-weight: bold;"><span style="color: #ff0000;">Admin</span>Panel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="collapse navbar-collapse" id="navbarNav">
              <form class="form-inline my-2 my-lg-0 ms-auto">
                <!-- <i class="fas fa-search" aria-hidden="true"></i> -->
                <!-- <input class="form-control form-control-sm ml-3" style="width: 200px;" type="text"
                       placeholder="Search the entire store here" aria-label="Search"> -->
              </form>
      
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/adminauth/admindashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/adminauth/products">Product</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/adminauth/categories">Category</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/adminauth/brands">Brand</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminauth/users">Customer</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/adminauth/orders">Order</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="/adminauth//couponview">Coupon</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminauth/logout">Logout</a>
                  </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>