<%-include('userheader')-%>
    <section>
        <div class="container">
            <div class="row">
                <h4>helmets</h4>
                <div class="col-md-3 mt-5 ">
                    <div class="card" style="width: 16rem;">
                        <center><img class="card-img-top pt-3" style="height: 180px;width:180px;text-align: center;"
                            src="https://www.store4riders.com/media/catalog/product/cache/c6de2277de32dbce6effc7a8e871ff65/b/b/bbg_racer_gloves_black_.jpg"
                            alt="Card image cap"></center>
                        <div class="card-body">
                            <h5 class="card-title text-center">BBG Racer Gloves</h5>
                            <p class="card-text text-center"> 4,650.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-5 ">
                    <div class="card" style="width: 16rem;">
                        <center><img class="card-img-top pt-3" style="height: 180px;width:180px;text-align: center;"
                            src="https://www.store4riders.com/media/catalog/product/cache/c6de2277de32dbce6effc7a8e871ff65/b/b/bbg_racer_gloves_black_.jpg"
                            alt="Card image cap"></center>
                        <div class="card-body">
                            <h5 class="card-title text-center">BBG Racer Gloves</h5>
                            <p class="card-text text-center"> 4,650.00</p>
                            <hr>
                            <p>hii</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-5 ">
                    <div class="card" style="width: 16rem;">
                        <center><img class="card-img-top pt-3" style="height: 180px;width:180px;text-align: center;"
                            src="https://www.store4riders.com/media/catalog/product/cache/c6de2277de32dbce6effc7a8e871ff65/b/b/bbg_racer_gloves_black_.jpg"
                            alt="Card image cap"></center>
                        <div class="card-body">
                            <h5 class="card-title text-center">BBG Racer Gloves</h5>
                            <p class="card-text text-center"> 4,650.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-5 ">
                    <div class="card" style="width: 16rem;">
                        <center><img class="card-img-top pt-3 " style="height: 180px;width:180px;text-align: center;"
                            src="https://www.store4riders.com/media/catalog/product/cache/c6de2277de32dbce6effc7a8e871ff65/b/b/bbg_racer_gloves_black_.jpg"
                            alt="Card image cap"></center>
                        <div class="card-body">
                            <h5 class="card-title text-center">BBG Racer Gloves</h5>
                            <p class="card-text text-center"> 4,650.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

<%-include('userfooter')-%>